.container {
  display: flex;
  justify-content: center;
  z-index: 999;
}

.preloader {
  width: 50px;
  height: 50px;
  border: 5px solid #f2890f;
  border-radius: 50%;
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
